
/* ナビゲーションメニューのスタイル */
.nav {
    background-color: #000; /* 背景色を黒に設定 */
    padding: 10px 0; /* 上下に余白を追加 */
  }
  
  /* ナビゲーションリストのスタイル */
  .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* リストアイテムを水平中央配置 */
  }
  
  /* ナビゲーションリスト内のリストアイテムのスタイル */
  .nav-list li {
    margin-right: 20px;
  }
  
  /* ナビゲーションリンクのスタイル */
  .nav-list li a {
    text-decoration: none;
    color: #fff; /* テキスト色を白に設定 */
    padding: 10px 20px; /* 上下左右に余白を追加 */
  }
  
  /* ナビゲーションリンクのホバー時のスタイル */
  .nav-list li a:hover {
    background-color: #fff; /* ホバー時の背景色を白に設定 */
    color: #000; /* ホバー時のテキスト色を黒に設定 */
  }
  
  main {
    width: 65%;
  }
/* CSSスタイル */
body {
  background-color: black; /* 背景色を黒に設定 */
  color: white; /* テキスト色を白に設定 */
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* 水平方向中央配置 */
  align-items: center; /* 垂直方向中央配置 */
  min-height: 100vh;
  flex-direction: column; /* 子要素を垂直に並べる */
}


.scrollingImage {
  position: absolute;
  top: -10vh; /* 画像の上部位置をビューポートの高さの10%に設定 */
  height: 20vh; /* 画像の高さをビューポートの高さの20%に設定 */
  width: 10vw; /* 画像の幅をビューポートの幅の10%に設定 */
  object-fit: cover;
}

#leftImage {
  left: 0;
}

#rightImage {
  right: 0;
}


/* CSSスタイル */
footer {
  background-color: black;
  padding: 10px; /* ボーダーとコンテンツの間に余白を追加 */
  text-align: center; /* テキストを中央に配置 */
}

.nav2 {
  border: 2px solid white; /* 白色の2px幅の境界線を追加 */
  display: flex; /* 要素を横並びに配置 */
  justify-content: space-between; /* リンクを均等に配置 */
  align-items: center; /* 垂直方向中央に配置 */
  padding: 10px; /* ボーダーとテキストの間に余白を追加 */
}

.nav2 a {
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  font-size: 16px; /* リンクのフォントサイズを設定 */
}
/* 各リンクに右側の境界線を追加 */
.nav2 a:not(:last-child) {
  border-right: 1px solid white; /* 白色の1px幅の右側の境界線を追加 */
}


/* 左側の画像コンテナ */
.left-scrolling-container {
  float: left; /* テキストの横に配置 */
  margin-right: 20px; /* 画像とテキストの間に余白を設定 */
}

/* 右側の画像コンテナ */
.right-scrolling-container {
  float: right; /* テキストの横に配置 */
  margin-left: 20px; /* 画像とテキストの間に余白を設定 */
}